In [16]:
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
# import meals data
meals = pd.read_csv("meal_history.csv")
meals.head()

,Date,Type of Meal,Dish Name,Calories,Protein (oz),Fruits (cup),Vegetables (cup),Grains (oz),Dairy (cup),Link
0,6/24/25,Breakfast,Milk,149,0.0,0.0,0.00,0.0,1.0,NaN
1,6/24/25,Breakfast,Sweet potato hash with egg,300,2.5,0.0,1.00,0.0,0.0,https://www.myplate.gov/recipes/sweet-potato-h...
2,6/24/25,Lunch,chicken fried rice,340,1.5,0.0,0.25,2.0,0.0,https://www.myplate.gov/recipes/fried-rice
3,6/24/25,Dinner,Fish tacos,220,2.0,0.0,0.75,2.0,0.0,https://www.myplate.gov/recipes/simple-fish-tacos
4,6/24/25,Snack,Very berry smoothie,250,0.0,2.5,0.00,0.0,1.0,https://www.myplate.gov/recipes/very-berry-smo...