In [16]:
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
# import meals data
meals = pd.read_csv("meal_history.csv")
meals.head()

,Date,Type of Meal,Dish Name,Calories,Protein (oz),Fruits (cup),Vegetables (cup),Grains (oz),Dairy (cup),Link
0,6/27/25,Lunch,Turkey Tostadas,197.0,0.85,0.0,0.50,1.0,0.00,https://www.myplate.gov/recipes/turkey-tostadas
1,6/27/25,Dinner,Tofu with Broccoli,151.0,0.42,0.0,1.00,0.0,0.00,https://www.myplate.gov/recipes/tofu-broccoli
2,6/28/25,Breakfast,Banana Walnut Oatmeal,293.0,0.35,0.5,0.00,NaN,0.50,https://www.myplate.gov/recipes/banana-walnut-...
3,6/28/25,Breakfast,Orange Juice,112.0,0.06,NaN,NaN,NaN,NaN,NaN
4,6/28/25,Lunch,Turkey and Cucumber Sandwich,245.0,0.74,0.0,0.25,2.0,0.25,https://www.myplate.gov/recipes/turkey-and-cuc...